/*Buttons*/
.btn {
  font-family: var(--font-main);
  font-size: var(--text-md);
  padding: var(--space-3) var(--space-5);
  border-radius: var(--radius-md);
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s ease;
}

/*Primary Button*/
.btn-primary {
  background: var(--accent-primary);
  color: white;
}

.btn-primary:hover {
  background: var(--accent-hover);
  box-shadow: var(--shadow-glow);
}

/*Secondary Button*/
.btn-secondary {
  background: transparent;
  border: 1px solid var(--border);
  color: var(--text-primary);
}

.btn-secondary:hover {
  border-color: var(--accent-primary);
}

/*large Button*/
.btn-lg {
  padding: var(--space-4) var(--space-6);
  font-size: var(--text-lg);
}

/*Card*/
.card {
  background: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: var(--radius-lg);
  padding: var(--space-6);
  box-shadow: var(--shadow-sm);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: var(--shadow-md);
}