/*HEADER*/

.header-wraper {
    background-image: 
        linear-gradient(to top right, rgba(0,0,0,0.95), rgba(0,0,0,0)),
        url("../images/hero-section-backgound.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: var(--radius-xl);
    border-bottom-right-radius: var(--radius-xl);
    box-shadow: var(--shadow-glow);
}

.navigation-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--space-3);
   
}

.navigation-section ul{
    display: flex;
    align-items: center;
    gap: var(--space-4);
}

.logo{
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

.logo img{
    width: 25px;
}
.ebula{
    font-weight: bolder;
    font-style: italic;
}

.hero-section{
    margin-top: var(--space-9);
    display: flex;
    flex-direction: column;
    gap: var(--space-7);
    padding-bottom: var(--space-8);

}

.h1{
    font-size: var(--h1);
}


/*Main*/

.our-services{
    margin-top: var(--space-7);

}

.our-services-heading{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--space-4);
   padding-bottom: var(--space-5);
}

.service-card{
    display: flex;
    gap: var(--space-5);
}

.service-card .card {
    flex: 1;
}

.big-icon{
    font-size: 64px;
}

.card1{
    background-image: 
        linear-gradient(to top right, rgba(0,0,0,0.95), rgba(0,0,0,0)),
        url("/css-version/assets/images/backgound_work01.png");
}

.card2{
    background-image: 
        linear-gradient(to top right, rgba(0,0,0,0.95), rgba(0,0,0,0)),
        url("/css-version/assets/images/backgound_work02.png");
}

hr {
    width: 1200px;
    height: 4px;
    border: none;
    background-color: var( --accent-primary);
    margin: 60px auto;
}

.our-work-heading{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--space-4);
   padding-bottom: var(--space-5);
}

.real-cta{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    gap: var(--space-5);
}


.real-cta input {
    width: 100%;
    padding: 14px 18px;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color .3s ease;
}
.cta h3{
    line-height: 1.15em;
    text-align: center;
}

.cta p{
    text-align: center;
}